<div data-ng-include="'app/templates/header_latest.html'"></div>
<style>
    .btn-refresh{
        background: none;
    }
</style>
<!--main content start-->
<section id="main-content"  style="font-family:'source_sans_pro_regular'">
  <section class="wrapper">
        <div class="container-fluid">
            <div class="mat-form row row-centered">
                <div class="mat-form col-md-12">
                   <div class="mat-form card">
                       <div class="card-header card-header-primary">
                           <h4 class="card-title">{{title}}</h4>
                       </div>
                       <div class="card-body">
                           <form class="cmxform" id="signupForm" method="post" name="myform">
                               <div class="row">
                                   <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 eachCardWrapperDiv">
                                       <div class="card MB0">
                                           <h5 class="card-header childcardheader ">Primary Information</h5>
                                           <div class="card-body">
                                              <div class="row">
                                               <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                   <div class="form-group bmd-form-group floating-input-container">
                                                       <input class="floating-input"  name="first_name" id="first_name" data-ng-model="agent.address.first_name" placeholder="Enter first name" style="text-transform: capitalize;"/>
                                                       <label class="input-label" for="first_name">
                                                           Agent First Name
                                                       </label>
                                                       <span class="help-block errorText" ng-show="(myform.first_name.$dirty && myform.first_name.$invalid) || ((myform.first_name.$dirty || submitted) && myform.first_name.$error.required)">Please enter first name</span>
                                                   </div>
                                               </div>
                                               <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                   <div class="form-group bmd-form-group floating-input-container">
                                                       <input class="floating-input" type="text" name="last_name" id="last_name" ng-class="((myform.last_name.$dirty && myform.last_name.$invalid) || ((myform.last_name.$dirty || submitted) && myform.last_name.$error.required)) ? 'error' : 'success'" data-ng-model="agent.address.last_name"  placeholder="Enter last name" style="text-transform: capitalize;"/>
                                                       <label class="input-label" for="last_name">
                                                           Agent Last Name
                                                       </label>
                                                       <span class="help-block errorText" ng-show="(myform.last_name.$dirty && myform.last_name.$invalid) || ((myform.last_name.$dirty || submitted) && myform.last_name.$error.required)">Please enter last name</span>
                                                   </div>
                                               </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                   <div class="form-group bmd-form-group floating-input-container">
                                                       <input class="floating-input"   type="text" name="name" id="name" data-ng-model="agent.name" required="true" placeholder="Enter name" style="text-transform: capitalize;" data-ng-class="(((myform.code.$dirty || submitted) && myform.name.$invalid) || ((myform.name.$dirty || submitted) && myform.name.$error.required)) ? 'error' : ''"/>
                                                       <label class="input-label" for="last_name">
                                                           Firm Name (if it is a firm)
                                                       </label>
                                                       <span class="help-block errorText" ng-show="(myform.name.$dirty && myform.name.$invalid) || ((myform.name.$dirty || submitted) && myform.name.$error.required)">Please enter firm name</span>
                                                   </div>
                                               </div>                                               
                                               <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                   <div class="form-group bmd-form-group floating-input-container" style="padding-bottom: 0px;">
                                                       <input class="floating-input"  type="text" name="accounting_name" id="accounting_name" data-ng-model="agent.accounting_name" ng-class="((myform.accounting_name.$dirty && myform.accounting_name.$invalid) || ((myform.accounting_name.$dirty || submitted) && myform.accounting_name.$error.required)) ? 'error' : 'success'" required="true" placeholder="Enter accounting name" style="text-transform: capitalize;"/>
                                                       <label class="input-label" for="accounting_name">
                                                           Accounting Ledger Name
                                                       </label>
                                                       <span class="help-block errorText" ng-show="(myform.accounting_name.$dirty && myform.accounting_name.$invalid) || ((myform.accounting_name.$dirty || submitted) && myform.accounting_name.$error.required)">Please enter accounting name</span>
                                                   </div>
                                               </div>
                                              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" data-ng-if="agent_code_edit_flag" >
                                                 <div class="form-group bmd-form-group floating-input-container">
                                                   <input class="floating-input"   type="text" ng-class="(((myform.code.$dirty || submitted) && myform.code.$invalid) || ((myform.code.$dirty || submitted) && myform.code.$error.required)) ? 'error' : 'success'" name="code" id="code" data-ng-model="agent.code" required="true" placeholder="Enter code" style="text-transform:uppercase" data-ng-pattern="/^[a-zA-Z0-9]*$/" data-ng-if="agent_code_edit_flag" data-ng-required="agent_code_edit_flag" />
                                                    <label data-ng-if="!agent_code_edit_flag">{{ (!isAgentCodeRequired() && agent.id > 0 ? agent.code : "Agent Code Will be created")}} <i class="fas fa-edit" data-ng-click="enableAgentCodeEdit()" data-ng-if="isAgentCodeEditAllowed() && !agent_code_edit_flag" aria-hidden="true"></i></label>
                                                   <label class="input-label" for="code">
                                                      Code
                                                   </label>
                                                   <span class="help-block errorText" ng-show="(myform.code.$dirty && myform.code.$invalid) || ((myform.code.$dirty || submitted) && myform.code.$error.required)">Please enter code</span>
                                                </div>
                                              </div>
                                              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" data-ng-if="!agent_code_edit_flag">
                                                 <div class="form-group bmd-form-group floating-input-container">
                                                    <input class=" floating-input" id="code_text" type="text" data-ng-value="(!isAgentCodeRequired() && agent.id > 0 ? agent.code : 'Will be created')" data-ng-disabled="true" />
                                                    <label class="input-label" for="code_text">
                                                        Code
                                                    </label>
                                                    <i class="fas fa-pencil" data-ng-click="enableAgentCodeEdit()" data-ng-if="isAgentCodeEditAllowed() && !agent_code_edit_flag" aria-hidden="true"></i>  
                                                 </div>
                                              </div>                                               
                                              </div>
                                           </div>
                                         </div>
                                   </div>
                                   <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 eachCardWrapperDiv">
                                      <div class="card MB0">
                                        <h5 class="card-header childcardheader">Contact Information</h5>
                                        <div class="card-body">
                                            <div class="row">
                                              <!--
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                 <div class="form-group bmd-form-group floating-input-container">
                                                     <input class="floating-input"   type="text" name="address1" id="address1" data-ng-model="agent.address.address1"  placeholder="Enter address line 1" style="text-transform: capitalize;"/>
                                                     <label class="input-label" for="address1">
                                                       Address Line 1
                                                     </label>
                                                 </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                 <div class="form-group bmd-form-group floating-input-container">
                                                     <input class="floating-input"  type="text" name="address2" id="address2" data-ng-model="agent.address.address2" xxdata-ng-attr-required="false" placeholder="Enter address line 2" />
                                                     <label class="input-label" for="address2">
                                                         Address Line 2
                                                     </label>
                                                 </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                 <div class="form-group bmd-form-group floating-input-container">
                                                     <input class="floating-input"  type="text" name="address3" id="address3" data-ng-model="agent.address.address3" xxdata-ng-attr-required="false" placeholder="Enter address line 3"/>
                                                     <label class="input-label" for="address3">
                                                         Address Line 3
                                                     </label>
                                                 </div>
                                                </div>
                                              -->
                                                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                                 <div class="form-group bmd-form-group floating-input-container">
                                                     <input class="floating-input" name="city" id="city" data-ng-model="agent.address.city" placeholder="Enter city" style="text-transform: capitalize;"/>
                                                     <label class="input-label">
                                                         City
                                                     </label>
                                                 </div>
                                                </div>
                                               
                                                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                                 <div class="form-group bmd-form-group floating-input-container" >
                                                     <select  id="ddlb_state" name="ddlb_state" data-ng-model="agent.address.state" onclick="this.setAttribute('value', this.value);" data-ng-options="a as a for a in state_list track by a">
                                                     </select>
                                                     <label class="select-label">
                                                         State
                                                     </label>
                                                 </div>
                                                </div>
                                                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                                 <div class="form-group bmd-form-group floating-input-container">
                                                     <input class="floating-input"  type="text" name="zip" id="zip" data-ng-model="agent.address.zip" data-ng-pattern="/^[1-9][0-9]{5}$/" placeholder="Enter zip"/>
                                                     <label class="input-label">  
                                                         PIN
                                                     </label>
                                                     <span class="help-block errorText" ng-show="((myform.zip.$dirty || submitted) && myform.zip.$invalid)">Please enter valid PIN</span>
                                                 </div>
                                                </div>
                                                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                                 <div class="form-group bmd-form-group floating-input-container">
                                                     <input class="floating-input"  type="email" name="email" id="email" data-ng-model="agent.address.email1"  placeholder="Enter email"/>
                                                     <label class="input-label">
                                                         Email
                                                     </label>
                                                 </div>
                                                </div>
                                                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                                 <div class="form-group bmd-form-group floating-input-container">
                                                     <input class="floating-input" type="text"  name="phone" id="phone" data-ng-model="agent.address.phone1" placeholder="Enter Phone" data-ng-pattern="/^[6-9][0-9]{9}$/" ng-class="(((myform.phone.$dirty || submitted) && myform.phone.$invalid)) ? 'error' : 'success'"/>
                                                     <label class="input-label" for="phone">
                                                         Phone (Mobile)
                                                     </label>
                                                     <span class="help-block" ng-show="!((myform.phone.$dirty || submitted) && myform.phone.$invalid)">Only digits, no space</span>
                                                     <span class="help-block errorText" ng-show="((myform.phone.$dirty || submitted) && myform.phone.$invalid)">Please enter valid phone number</span>
                                                 </div>
                                                </div>
                                                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                                 <div class="form-group bmd-form-group floating-input-container">
                                                     <input class="floating-input" type="text" name="phone2" id="phone2" placeholder="Enter Phone" data-ng-model="agent.address.phone2" data-ng-pattern="/^[1-9][0-9]{9}$/" ng-class="(((myform.phone2.$dirty || submitted) && myform.phone2.$invalid)) ? 'error' : 'success'"/>
                                                     <label class="input-label" for="phone2">
                                                         Phone (Other)
                                                     </label>
                                                     <span class="help-block" data-ng-show="!((myform.phone2.$dirty || submitted) && myform.phone2.$invalid)">Only digits, no space</span>
                                                     <span class="help-block errorText" data-ng-show="((myform.phone2.$dirty || submitted) && myform.phone2.$invalid)">Please enter valid phone number</span>
                                                 </div>
                                                </div>
                                            </div>
                                        </div>
                                      </div>
                                   </div>
                                   <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 eachCardWrapperDiv">
                                       <div class="card MB0">
                                           <h5 class="card-header childcardheader">Other Information</h5>
                                           <div class="card-body">
                                              <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                     <div class="form-group bmd-form-group floating-input-container">
                                                         <input class="floating-input" type="number" name="commission_rate" id="commission_rate" data-ng-model="agent.commission_rate" data-ng-min="0" data-ng-max="100" data-ng-required="true" data-ng-step="0.01" placeholder="Enter Commission Rate" data-ng-class="(myform.commission_rate.$dirty && myform.commission_rate.$invalid) || ((myform.commission_rate.$dirty || submitted) && myform.commission_rate.$error.required) ? 'error' : ''"/>
                                                         <label class="input-label">
                                                             Commission %
                                                         </label>
                                                         <span class="help-block errorText" ng-show="(myform.commission_rate.$dirty && myform.commission_rate.$invalid) || ((myform.commission_rate.$dirty || submitted) && myform.commission_rate.$error.required)">Please enter commission</span>
                                                     </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" data-ng-if="utilService.isConfigurationOn(utilService.CONST_CONFIG_MODULE_SALESMAN) == '1'">
                                                        <div class="floating-cotainer-with-refresh">
                                                          <div class="form-group bmd-form-group floating-input-container" >
                                                              <select id="salesperson_id" name="salesperson_id" data-ng-model="agent.sales_person.id" onclick="this.setAttribute('value', this.value);" value="?" placeholder="select" required="true" ng-options="x.id as x.first_name + ' ' + x.last_name  for x in userlist" data-ng-class="(myform.salesperson_id.$dirty && myform.salesperson_id.$invalid) || ((myform.salesperson_id.$dirty || submitted) && myform.salesperson_id.$error.required) ? 'error' : ''">            
                                                            </select>
                                                            <label for="salesperson_id" class="select-label">
                                                                Salesman
                                                            </label>
                                                            <span class="help-block errorText" ng-show="(myform.salesperson_id.$dirty && myform.salesperson_id.$invalid) || ((myform.salesperson_id.$dirty || submitted) && myform.salesperson_id.$error.required)">Please enter sales person</span>
                                                          </div>
                                                          <div class = "floatContainerRefreshDiv" >
                                                              <span class ="refreshButton" type="button" data-ng-click ="getUsers()"><i class="fas fa-sync"></i> </span>
                                                          </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 agentCheck" data-ng-if="editmode">
                                                        <label class="input-label">
                                                            Status
                                                        </label>
                                                        <div class="radio-group">
                                                            <input type="radio" id="option-one" name="selector" data-ng-model="agent.status_id" required="true" value="4600">
                                                            <label data-ng-class="agent.status_id==4600 ? 'radio-select' : ''" for="option-one" style="width:49%;">Active</label>
                                                            <input type="radio"  id="option-two" name="selector" data-ng-model="agent.status_id" required="true" value="4601">
                                                            <label data-ng-class="agent.status_id==4601 ? 'radio-select' : ''" for="option-two" style="width: 51%;
                                                            margin-right: -3px;">Inactive</label>                                                            
                                                        </div>
                                                          <!--<div class="sliderRadioGroup">
                                                            <label class="switch">
                                                                <input type="checkbox">
                                                                <span class="slider round">
                                                                    <span class="statusText activeText">Active</span>
                                                                </span>
                                                            </label>
                                                        </div>-->
                                                    </div>
                                              </div>
                                           </div>
                                       </div>
                                   </div>
                                   <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 eachCardWrapperDiv" data-ng-if="utilService.isConfigurationOn(utilService.CONST_CONFIG_MODULE_AGENT_LOGIN) == '1'">
                                       <div class="card MB0">
                                         <h5 class="card-header childcardheader">User Information</h5>
                                         <div class="card-body">
                                            <div class="row">
                                               <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                   <div class="form-group bmd-form-group floating-input-container">
                                                      <label class="item-label">
                                                          Name
                                                      </label>
                                                      <div class="item-content">{{agent.address.first_name + " " + agent.address.last_name}}</div>
                                                   </div>
                                               </div>
                                               <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" data-ng-if="editmode">
                                                   <div class="form-group bmd-form-group floating-input-container">
                                                      <label class="item-label">
                                                          Login 
                                                      </label>
                                                      <div class="item-content">{{agent.user.login_name}}</div>
                                                   </div>
                                               </div>
                                               <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" data-ng-if="!editmode">
                                                   <div class="form-group bmd-form-group floating-input-container">
                                                       <input class="floating-input" class="form-control " name="login_name" id="login_name" data-ng-pattern="/^[a-zA-Z0-9][a-zA-Z0-9.-]*[a-zA-Z0-9]$/" required="true" data-ng-model="agent.user.login_name" placeholder="Enter Login" data-ng-class="((myform.login_name.$dirty || submitted)  && !editmode && myform.login_name.$invalid) || ((myform.login_name.$dirty || submitted) && myform.login_name.$error.required) ? 'error' : ''" autocomplete="new-password"/>
                                                       <label class="input-label">
                                                           Login
                                                       </label>
                                                       <span class="help-block errorText" ng-show="((myform.login_name.$dirty || submitted) && !editmode && myform.login_name.$invalid) || ((myform.login_name.$dirty || submitted) && myform.login_name.$error.required)">Please enter login name  without spaces & special characters</span>
                                                   </div>
                                                   </div>
                                                   <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                       <div class="form-group bmd-form-group floating-input-container">
                                                           <input class="floating-input" type="password" name="password" id="password" data-ng-minlength="6" data-ng-model="agent.user.password" placeholder="Enter Password" data-ng-required="!editmode" data-ng-class="((myform.password.$dirty || submitted) && myform.password.$invalid) || ((myform.password.$dirty || submitted) && myform.password.$error.required) ? 'error' : ''" autocomplete="new-password"/>
                                                           <label class="input-label">
                                                               Password
                                                           </label>
                                                           <span class="help-block errorText" ng-show="(myform.password.$dirty && myform.password.$error.minlength)">Please enter atleast 6 characters</span>
                                                           <span class="help-block errorText" ng-show="(((myform.password.$dirty || submitted) && myform.password.$invalid) || ((myform.password.$dirty || submitted) && myform.password.$error.required)) && (!(myform.password.$dirty && myform.password.$error.minlength))">Please enter password</span>
                                                       </div>
                                                   </div>
                                                   <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                       <div class="form-group bmd-form-group floating-input-container">
                                                           <input class="floating-input" type="password" placeholder="Confirm Password"  name="confirmpassword" id="confirmpassword" data-ng-minlength="6" data-ng-model="agent.user.confirmpassword" autocomplete="new-password"   data-ng-required="!editmode" data-password-verify="agent.user.password" data-ng-class="((myform.confirmpassword.$dirty || submitted) && myform.confirmpassword.$invalid) || ((myform.confirmpassword.$dirty || submitted) && myform.confirmpassword.$error.required)  ? 'error' : ''"/>
                                                           <label class="input-label">
                                                               Confirm Password
                                                           </label>
                                                           <span class="help-block errorText" ng-show="((myform.confirmpassword.$dirty || submitted) && myform.confirmpassword.$invalid) || ((myform.confirmpassword.$dirty || submitted) && myform.confirmpassword.$error.required)">Passwords do not match (Minimum 6 chars required)</span>
                                                       </div>
                                                   </div>
                                                </div>
                                              </div>
                                            </div>
                                         </div>
                                     </div>
                                </form>
                                <div class="form-group">
                                    <div class="row-centered">
                                        <button class="btn primarySubmitButton mobileSubmitButton" type="button" data-ng-click='submitted=true;!myform.$invalid && saveAgent();'><span>Save Agent</span></button>
                                    </div>
                                </div>
                            </div>                       
                        </div>
                  </div>
              </div>
            </div>
        </section>
    </section>
    
