<div data-ng-include="'app/templates/header_latest.html'"></div>
<style>
    .btn-refresh{
        background: none;
    }
</style>
<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <div class="container-fluid">
            <div class="mat-form row row-centered">
                <div class="mat-form col-md-12">
                    <div class="mat-form card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">{{title}}</h4>
                        </div>
                        <div class="card-body">
                            <form class="cmxform" id="signupForm" method="post" name="myform">
                                <div class="row">
                                    <div class="col-lg-12 eachCardWrapperDiv">
                                        <div class="card" style="padding-bottom: 0px!important">
                                            <h5 class="card-header childcardheader">Details</h5>
                                            <div class="card-body">
                                               <div class="row">
                                                     <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <div class="form-group bmd-form-group floating-input-container">
                                                         <input class="floating-input"  type="text" name="first_name" id="first_name" data-ng-model="user.first_name" required="true" placeholder="Enter first name" style="text-transform: capitalize;" data-ng-class="(myform.first_name.$dirty && myform.first_name.$invalid) || ((myform.first_name.$dirty || submitted) && myform.first_name.$error.required) ? 'error' : ''"/>
                                                         <label class="input-label" for="first_name">First Name</label>
                                                         <span class="help-block errorText" ng-show="(myform.first_name.$dirty && myform.first_name.$invalid) || ((myform.first_name.$dirty || submitted) && myform.first_name.$error.required)">Please enter first name</span>
                                                        </div>
                                                     </div>
                                                     <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <div class="form-group bmd-form-group floating-input-container">
                                                            <input class="floating-input" type="text" name="last_name" id="last_name" data-ng-model="user.last_name" required="true" placeholder="Enter last name" style="text-transform: capitalize;" data-ng-class="(myform.last_name.$dirty && myform.last_name.$invalid) || ((myform.last_name.$dirty || submitted) && myform.last_name.$error.required) ? 'error' : ''"/>
                                                             <label class="input-label"  for="last_name">Last Name</label>
                                                             <span class="help-block errorText" ng-show="(myform.last_name.$dirty && myform.last_name.$invalid) || ((myform.last_name.$dirty || submitted) && myform.last_name.$error.required)">Please enter last name</span>
                                                         </div>
                                                     </div>
                                                     <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <div class="floating-cotainer-with-refresh">
                                                         <div class="form-group bmd-form-group floating-input-container">
                                                            <select id="role_id" name="role_id" data-ng-model="user.role_id" required ng-options="x.id as x.name  for x in rolelist | filter: {sys_role_id :  '!4005'} | filter: {sys_role_id :  '!4030'} | filter: {sys_role_id :  '!4031'} ">
                                                             </select>
                                                            <label class="select-label">Select Role</label>
                                                             <span class="help-block errorText" ng-show="(myform.role_id.$dirty && myform.role_id.$invalid) || ((myform.role_id.$dirty || submitted) && myform.role_id.$error.required)">Please select role</span>
                                                         </div>
                                                         <div class = "floatContainerRefreshDiv" >
                                                          <span class ="refreshButton" type="button" data-ng-click ="getRoles()"><i class="fas fa-sync"></i> </span>
                                                         </div>
                                                        </div>
                                                     </div>
                                                     <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" data-ng-if="editmode">
                                                        <div class="form-group bmd-form-group floating-input-container" >
                                                            <div class="form-group bmd-form-group floating-input-container">
                                                              <label class="item-label">
                                                                  Login 
                                                              </label>
                                                              <div class="item-content">{{user.login_name}}</div>
                                                           </div>
                                                         </div>
                                                     </div>
                                                     <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" data-ng-if="!editmode">
                                                        <div class="form-group bmd-form-group floating-input-container">
                                                            <input type="text" class="floating-input" name="login_name" id="login_name" data-ng-pattern="/^[a-zA-Z0-9][a-zA-Z0-9.-]*[a-zA-Z0-9]$/" data-ng-model="user.login_name" data-ng-attr-required="{{!editmode}}"  xxrequired="{{!editmode}}" placeholder="Enter Login" data-ng-disabled="{{editmode}}" required="true" data-ng-class="((myform.login_name.$dirty || submitted) && myform.login_name.$invalid) || ((myform.login_name.$dirty || submitted) && myform.login_name.$error.required) ? 'error' : ''" autocomplete="new-password"/>
                                                            <label class="input-label" for="login_name">Login</label>
                                                            <span class="help-block errorText" ng-show="((myform.login_name.$dirty || submitted) && myform.login_name.$invalid) || ((myform.login_name.$dirty || submitted) && myform.login_name.$error.required)">Please enter login name</span>
                                                         </div>
                                                     </div>                                                     
                                                     <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" data-ng-if="!editmode">
                                                        <div class="form-group bmd-form-group floating-input-container">
                                                            <input class="floating-input"  type="password" name="password" id="password" data-ng-minlength="6" data-ng-model="user.password" data-ng-attr-required="{{!editmode}}" xxrequired="{{!editmode}}" placeholder="Enter Password" required="true" data-ng-class="((myform.password.$dirty || submitted) && myform.password.$invalid) || ((myform.password.$dirty || submitted) && myform.password.$error.required) ? 'error' : ''" autocomplete="new-password"/>
                                                             <label class="input-label"  for="password">Password</label>
                                                             <span class="help-block errorText" ng-show="(myform.password.$dirty && myform.password.$error.minlength)">Please enter atleast 6 characters</span>
                                                             <span class="help-block errorText" ng-show="((myform.password.$dirty || submitted) && myform.password.$invalid) || ((myform.password.$dirty || submitted) && myform.password.$error.required)">Please enter password</span>
                                                         </div>
                                                     </div>
                                                     <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" data-ng-if="!editmode">
                                                        <div class="form-group bmd-form-group floating-input-container">
                                                            <input class="floating-input"  type="password" name="confirmpassword" id="confirmpassword"  data-ng-minlength="6" data-ng-model="user.confirmpassword" data-ng-attr-required="{{!editmode}}"  xxrequired="{{!editmode}}" data-password-verify="user.password" placeholder="Enter Password to confirm" required="true" data-ng-class="((myform.confirmpassword.$dirty || submitted) && myform.confirmpassword.$invalid) || ((myform.confirmpassword.$dirty || submitted) && myform.confirmpassword.$error.required)  ? 'error' : ''"/>
                                                            <label class="input-label"  for="confirmpassword" autocomplete="new-password">Confirm Password</label>
                                                            <span class="help-block errorText" ng-show="((myform.confirmpassword.$dirty || submitted) && myform.confirmpassword.$invalid) || ((myform.confirmpassword.$dirty || submitted) && myform.confirmpassword.$error.required)">Passwords do not match (Minimum 6 chars required)</span>
                                                         </div>
                                                     </div>
                                                     <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" >
                                                        <div class="form-group bmd-form-group floating-input-container">
                                                            <input type="email" class="floating-input" name="email" id="email" data-ng-model="user.address.email1" placeholder="Enter email" required="true" data-ng-class="((myform.email.$dirty || submitted) && myform.email.$invalid) || ((myform.email.$dirty || submitted) && myform.email.$error.required) ? 'error' : ''"/>
                                                            <label class="input-label"  for="email">Email</label>
                                                            <span class="help-block errorText" ng-show="((myform.email.$dirty || submitted) && myform.email.$invalid) || ((myform.email.$dirty || submitted) && myform.email.$error.required)">Please enter email</span>
                                                         </div>
                                                     </div>       
                                                     <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <div class="form-group bmd-form-group floating-input-container">
                                                            <input class="floating-input" type="text" name="phone" id="phone" data-ng-model="user.address.phone1" data-ng-pattern="/^[6-9][0-9]{9}$/"  placeholder="Enter Phone" required="true" data-ng-class="((myform.phone.$dirty || submitted) && myform.phone.$invalid) || ((myform.phone.$dirty || submitted) && myform.phone.$error.required) ? 'error' : ''"/>
                                                            <label class="input-label"  for="email" >Phone</label>
                                                            <span class="help-block" ng-show="!(((myform.phone.$dirty || submitted) && myform.phone.$invalid) || ((myform.phone.$dirty || submitted) && myform.phone.$error.required))">Only digits, no space</span>
                                                             <span class="help-block errorText" ng-show="((myform.phone.$dirty || submitted) && myform.phone.$invalid) || ((myform.phone.$dirty || submitted) && myform.phone.$error.required)">Phone number is invalid</span>
                                                         </div>
                                                     </div>                                                      
                                                     <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 agentCheck" data-ng-if="editmode">
                                                        <label class="input-label">
                                                            Status
                                                        </label>
                                                        <div class="radio-group">
                                                            <input type="radio" id="option-one" name="selector" data-ng-model="user.status_id" required="true" value="4600">
                                                            <label data-ng-class="user.status_id==4600 ? 'radio-select' : ''" for="option-one" style="width:49%;">Active</label>
                                                            <input type="radio"  id="option-two" name="selector" data-ng-model="user.status_id" required="true" value="4601">
                                                            <label data-ng-class="user.status_id==4601 ? 'radio-select' : ''" for="option-two" style="width: 50%;
                                                            margin-right: -3px;">Inactive</label>                                                            
                                                      </div>
                                                    </div>                                                     
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="form-group">
                                <div class="row-centered">
                                    <button class="btn primarySubmitButton mobileSubmitButton" type="button" data-ng-click='submitted=true;!myform.$invalid && saveUser();'><span>Save User</span></button>&nbsp;
                                    <button class="btn primarySubmitButton mobileSubmitButton" type="button" data-ng-click='showChangePasswordForm(user.id);' data-ng-if='editmode' >Update Password</button><span>{{message}}</span>
                                </div>
                            </div>                                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>