 <div data-ng-include="'app/templates/header_latest.html'"></div>

 <!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <div class="container-fluid">
            <div class="mat-form row row-centered">
                <div class="mat-form col-md-12">
                    <div class="mat-form card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">{{title}}</h4>
                        </div>
                        <div class="card-body">
                            <form class="cmxform" id="signupForm" method="post" name="myform">
                                <div class="row">
                                    <div class="col-lg-12 eachCardWrapperDiv">
                                        <div class="card">
                                           <h5 class="card-header childcardheader">Primary Information</h5>
                                           <div class="card-body">
                                               <div class="row">
	                                               	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
	                                                   <div class="form-group bmd-form-group floating-input-container">
	                                                      <label class="item-label">
	                                                          Login
	                                                      </label>
	                                                      <div class="item-content">{{user.login_name}}</div>
	                                                   </div>
	                                                </div>
                                                   <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                      <div class="form-group bmd-form-group floating-input-container">
                                                          <input class="floating-input" type="password" name="currentpassword" id="currentpassword" data-ng-minlength="6" data-ng-model="user.currentpassword" placeholder="Enter Password" required="true" data-ng-class="(myform.currentpassword.$dirty && myform.currentpassword.$invalid) || ((myform.currentpassword.$dirty || submitted) && myform.currentpassword.$error.required) ? 'error' : ''"/>
                                                          <label class="input-label">
                                                            Current Password
                                                          </label>
                                                          <span class="help-block errorText" ng-show="(myform.currentpassword.$dirty && myform.currentpassword.$invalid) || ((myform.currentpassword.$dirty || submitted) && myform.currentpassword.$error.required)">Please enter current password</span>
                                                      </div>
                                                  </div>
                                                   <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                      <div class="form-group bmd-form-group floating-input-container">
                                                          <input class="floating-input" type="password" name="password" required="true" id="password" data-ng-minlength="6" data-ng-model="user.password" placeholder="Enter Password" data-ng-class="(myform.password.$dirty && myform.password.$invalid) || ((myform.password.$dirty || submitted) && myform.password.$error.required) ? 'error' : ''"/>
                                                          <label class="input-label">
                                                            New Password
                                                          </label>
                                                          <span class="help-block errorText" ng-show="(myform.password.$dirty && myform.password.$error.minlength)">Please enter atleast 6 characters</span>
                                                          <span class="help-block errorText" ng-show="(myform.password.$dirty && myform.password.$invalid) || ((myform.password.$dirty || submitted) && myform.password.$error.required)">Please enter new password</span>
                                                      </div>
                                                  </div>
                                                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                      <div class="form-group bmd-form-group floating-input-container">
                                                          <input class="floating-input" type="password" name="confirmpassword"  required="true" id="confirmpassword" data-ng-minlength="6" data-ng-model="user.confirmpassword" data-password-verify="user.password" placeholder="Enter Password to confirm" data-ng-class="(myform.confirmpassword.$dirty && myform.confirmpassword.$invalid) || ((myform.confirmpassword.$dirty || submitted) && myform.confirmpassword.$error.required) ? 'error' : ''"/>
                                                          <label class="input-label">
                                                              Confirm Password
                                                          </label>
                                                          <span class="help-block errorText" ng-show="(myform.confirmpassword.$dirty && myform.confirmpassword.$invalid) || ((myform.confirmpassword.$dirty || submitted) && myform.confirmpassword.$error.required)">Passwords do not match (Minimum 6 chars required)</span>
                                                      </div>
                                                  </div>
	                                               </div>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                                </form>
	                            <div class="form-group">
	                              <div class="row-centered">
	                                  <button class="btn primarySubmitButton mobileSubmitButton" type="button" data-ng-click='submitted=true;!myform.$invalid && updatepassword();'>Change Password</button>
	                              </div>
	                            </div>
                            </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </section>
</section>