<div data-ng-include="'app/templates/header_latest.html'"></div>
<section id="main-content">
    <section class="wrapper site-min-height">
        <div class="container-fluid">
            <div class="mat-form row row-centered">
                <div class="mat-form col-md-12">
                    <div class="mat-form card">
                        <div class="card-header card-header-primary listPagePrimaryCardHeader">
                            <h4 class="card-title">{{title}} {{(product ? " - " + product.name : "")}}</h4>
                            <div class="filterButtons">
                                <span class="filterButtonIcons" >
                                    <span class="dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-v"></i>
                                    </span>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" id="btnAddUser" data-ng-show="isAddUserAllowed()" data-ng-click="showAddUserForm()"><i class="fa fa-plus"></i>&nbsp; Add User</a>
                                    </div>
                                </span> 
                                <div class="filterInputInHeaderWrapper filterInputForDesktop">
                                    <input type="text" class="filterInputInHeaderElement" placeholder="Search" data-ng-model="searchText">
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row p-0 m-0">
                                <div class="col-12 col-md-12">
                                    <div class="filterInputInHeaderWrapper filterInputForMobile filterInputInHeaderWrapperSearch" >
                                        <input type="text" class="filterInputInHeaderElement" placeholder="Search" data-ng-model="searchText">
                                    </div>
                                </div>
                            </div>
                            <div class="listPageTableForMobile">
                                <div class="listPageTableForMobileHeader">
                                    <div class="listPageTableForMobileRow">
                                        <div class="listPageTableForMobileRow1">
                                            <div class="mobileTableEachColumn mobileTablePrimary">
                                                <div class="mobilePrimaryFirstRow">
                                                    <p>Name</p>
                                                    <p>Role</p>
                                                </div>
                                                <div class="mobilePrimarySecondRow">
                                                    <p>Status</p>
                                                    <p></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="listPageTableForMobileRow" data-ng-repeat="x in userlist | filter:searchText">
                                        <div class="listPageTableForMobileRow1">
                                            <div class="mobileTableEachColumn mobileTablePrimary">
                                                <div class="mobilePrimaryFirstRow">
                                                    <p data-ng-show="isEditUserAllowed()"><span class="text-decoration-underline-mobile"   data-ng-click="showEditUserForm(x.id);$event.stopPropagation();">{{x.first_name}} {{x.last_name}}</span></p>
                                                    <p data-ng-show="!isEditUserAllowed()">{{x.first_name}} {{x.last_name}}</p>
                                                    <p>{{x.role_name}}</p> 
                                                </div>
                                                <div class="mobilePrimarySecondRow">
                                                    <p>{{x.status_id == "4600" ? "Active" : "Disabled"}}</p>
                                                    <p></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mobileTableEachColumn mobileTableButtons">
                                            <div class="mobileTableButtonWrapper">
                                                <span class="mobileTableButton">
                                                    <span class="dropdown-toggle" id="navbarDropdown_{{$index}}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="fa fa-ellipsis-h"></i>
                                                    </span>
                                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_{{$index}}">
                                                        <a class="dropdown-item listPageActionGreen" id="btn{{$index}}" data-ng-show="isEditUserAllowed()" data-ng-click="showEditUserForm(x.id);$event.stopPropagation();"><i class="fas fa-edit"></i> Edit User</a>
                                                        <a class="dropdown-item listPdropdown-itemageActionIcons listPageActionIconsRed" id="btnd{{$index}}" data-ng-show="isDeleteUserAllowed()" data-ng-click="deleteUser(x);$event.stopPropagation();"><i class="fas fa-trash"></i>  Delete User</a>
                                                    </div>
                                                </span>
                                                <span data-ng-show="isEditUserAllowed()" title="edit" data-ng-click="showEditUserForm(x.id);$event.stopPropagation();" class="mobileTableButton">
                                                    <i class="fas fa-angle-right"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>                                                                              
                                </div>
                            </div>
                            <div class="listPageFiltersWrapperDiv">                             
                                <div class="listTableDiv">
                                    <div class="adv-table editable-table">
                                        <div class="space15"></div>
                                        <table  class="table table-striped table-hover " id="editable-sample">
                                            <thead>
                                            <tr>
                                                <th class="sortable-header" data-ng-click="setUserSortParameters('name');getUsers()">NAME
													<span class="sort-icons" ng-class="getIcon('name')"/>
												</th>
												<th class="sortable-header" data-ng-click="setUserSortParameters('role');getUsers()">ROLE
													<span class="sort-icons" ng-class="getIcon('role')"/>
												</th>
												<th class="sortable-header" data-ng-click="setUserSortParameters('status');getUsers()">STATUS
													<span class="sort-icons" ng-class="getIcon('status')"/>
												</th>
												<th>ACTIONS</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr class="" data-ng-repeat="x in userlist | filter:searchText" class="active" data-ng-click="userRowClick(x.id);$event.stopPropagation();">
                                                <td><a data-ng-show="isEditUserAllowed()" data-ng-click="userRowClick(x.id);$event.stopPropagation();">{{x.first_name}} {{x.last_name}}</a><span data-ng-show="!isEditUserAllowed()">{{x.first_name}} {{x.last_name}}</span></td>
												<td>{{x.role_name}}</td>
												<td>{{x.status_id == "4600" ? "Active" : "Disabled"}}</td>
												<td><span id="btn{{$index}}" class="listPageActionIcons listPageActionGreen" title="edit" data-ng-show="isEditUserAllowed()" data-ng-click="showEditUserForm(x.id);$event.stopPropagation();"><i class="fas fa-edit"></i></span>
                                                <span id="btn{{$index}}" class="listPageActionIcons listPageActionIconsRed" title="delete" data-ng-show="isDeleteUserAllowed()" data-ng-click="deleteUser(x);$event.stopPropagation();"><i class="fas fa-trash"></i></span></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
